pixdata-proxy/src/main/resources/wsdl/viewQueryDetailWS.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://webservice.web.bigdata.threeoa.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="viewQueryDetailWS" targetNamespace="http://webservice.web.bigdata.threeoa.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webservice.web.bigdata.threeoa.com/" elementFormDefault="unqualified" targetNamespace="http://webservice.web.bigdata.threeoa.com/" version="1.0">

  <xs:element name="getClassSchedule" type="tns:getClassSchedule"/>

  <xs:element name="getClassScheduleForClassroom" type="tns:getClassScheduleForClassroom"/>

  <xs:element name="getClassScheduleForClassroomNonPaged" type="tns:getClassScheduleForClassroomNonPaged"/>

  <xs:element name="getClassScheduleForClassroomNonPagedResponse" type="tns:getClassScheduleForClassroomNonPagedResponse"/>

  <xs:element name="getClassScheduleForClassroomResponse" type="tns:getClassScheduleForClassroomResponse"/>

  <xs:element name="getClassScheduleForStudent" type="tns:getClassScheduleForStudent"/>

  <xs:element name="getClassScheduleForStudentNonPaged" type="tns:getClassScheduleForStudentNonPaged"/>

  <xs:element name="getClassScheduleForStudentNonPagedByStudentWristbandId" type="tns:getClassScheduleForStudentNonPagedByStudentWristbandId"/>

  <xs:element name="getClassScheduleForStudentNonPagedByStudentWristbandIdResponse" type="tns:getClassScheduleForStudentNonPagedByStudentWristbandIdResponse"/>

  <xs:element name="getClassScheduleForStudentNonPagedResponse" type="tns:getClassScheduleForStudentNonPagedResponse"/>

  <xs:element name="getClassScheduleForStudentResponse" type="tns:getClassScheduleForStudentResponse"/>

  <xs:element name="getClassScheduleForTeacher" type="tns:getClassScheduleForTeacher"/>

  <xs:element name="getClassScheduleForTeacherNonPaged" type="tns:getClassScheduleForTeacherNonPaged"/>

  <xs:element name="getClassScheduleForTeacherNonPagedByWristbandId" type="tns:getClassScheduleForTeacherNonPagedByWristbandId"/>

  <xs:element name="getClassScheduleForTeacherNonPagedByWristbandIdResponse" type="tns:getClassScheduleForTeacherNonPagedByWristbandIdResponse"/>

  <xs:element name="getClassScheduleForTeacherNonPagedResponse" type="tns:getClassScheduleForTeacherNonPagedResponse"/>

  <xs:element name="getClassScheduleForTeacherResponse" type="tns:getClassScheduleForTeacherResponse"/>

  <xs:element name="getClassScheduleResponse" type="tns:getClassScheduleResponse"/>

  <xs:element name="getCurrentTeamYearClassScheduleByClassroom" type="tns:getCurrentTeamYearClassScheduleByClassroom"/>

  <xs:element name="getCurrentTeamYearClassScheduleByClassroomNonPaged" type="tns:getCurrentTeamYearClassScheduleByClassroomNonPaged"/>

  <xs:element name="getCurrentTeamYearClassScheduleByClassroomNonPagedResponse" type="tns:getCurrentTeamYearClassScheduleByClassroomNonPagedResponse"/>

  <xs:element name="getCurrentTeamYearClassScheduleByClassroomResponse" type="tns:getCurrentTeamYearClassScheduleByClassroomResponse"/>

  <xs:element name="getCurrentWeekClassScheduleByClassroom" type="tns:getCurrentWeekClassScheduleByClassroom"/>

  <xs:element name="getCurrentWeekClassScheduleByClassroomResponse" type="tns:getCurrentWeekClassScheduleByClassroomResponse"/>

  <xs:element name="getCurrentWeekClassScheduleByStudent" type="tns:getCurrentWeekClassScheduleByStudent"/>

  <xs:element name="getCurrentWeekClassScheduleByStudentResponse" type="tns:getCurrentWeekClassScheduleByStudentResponse"/>

  <xs:element name="getCurrentWeekClassScheduleByStudentWristbandId" type="tns:getCurrentWeekClassScheduleByStudentWristbandId"/>

  <xs:element name="getCurrentWeekClassScheduleByStudentWristbandIdResponse" type="tns:getCurrentWeekClassScheduleByStudentWristbandIdResponse"/>

  <xs:element name="getCurrentWeekClassScheduleByTeacher" type="tns:getCurrentWeekClassScheduleByTeacher"/>

  <xs:element name="getCurrentWeekClassScheduleByTeacherResponse" type="tns:getCurrentWeekClassScheduleByTeacherResponse"/>

  <xs:element name="getCurrentWeekClassScheduleByTeacherWristbandId" type="tns:getCurrentWeekClassScheduleByTeacherWristbandId"/>

  <xs:element name="getCurrentWeekClassScheduleByTeacherWristbandIdResponse" type="tns:getCurrentWeekClassScheduleByTeacherWristbandIdResponse"/>

  <xs:element name="getDataByView" type="tns:getDataByView"/>

  <xs:element name="getDataByViewResponse" type="tns:getDataByViewResponse"/>

  <xs:element name="getLessonInfo" type="tns:getLessonInfo"/>

  <xs:element name="getLessonInfoResponse" type="tns:getLessonInfoResponse"/>

  <xs:element name="init" type="tns:init"/>

  <xs:element name="initResponse" type="tns:initResponse"/>

  <xs:complexType name="getCurrentWeekClassScheduleByTeacherWristbandId">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCurrentWeekClassScheduleByTeacherWristbandIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getClassScheduleForStudent">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
      <xs:element minOccurs="0" name="arg4" type="xs:string"/>
      <xs:element minOccurs="0" name="arg5" type="xs:string"/>
      <xs:element minOccurs="0" name="arg6" type="xs:string"/>
      <xs:element minOccurs="0" name="arg7" type="xs:string"/>
      <xs:element name="arg8" type="xs:int"/>
      <xs:element name="arg9" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getClassScheduleForStudentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getClassScheduleForStudentNonPagedByStudentWristbandId">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
      <xs:element minOccurs="0" name="arg4" type="xs:string"/>
      <xs:element minOccurs="0" name="arg5" type="xs:string"/>
      <xs:element minOccurs="0" name="arg6" type="xs:string"/>
      <xs:element minOccurs="0" name="arg7" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getClassScheduleForStudentNonPagedByStudentWristbandIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCurrentWeekClassScheduleByStudent">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCurrentWeekClassScheduleByStudentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getClassScheduleForClassroom">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
      <xs:element minOccurs="0" name="arg4" type="xs:string"/>
      <xs:element minOccurs="0" name="arg5" type="xs:string"/>
      <xs:element minOccurs="0" name="arg6" type="xs:string"/>
      <xs:element minOccurs="0" name="arg7" type="xs:string"/>
      <xs:element name="arg8" type="xs:int"/>
      <xs:element name="arg9" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getClassScheduleForClassroomResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getClassScheduleForClassroomNonPaged">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
      <xs:element minOccurs="0" name="arg4" type="xs:string"/>
      <xs:element minOccurs="0" name="arg5" type="xs:string"/>
      <xs:element minOccurs="0" name="arg6" type="xs:string"/>
      <xs:element minOccurs="0" name="arg7" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getClassScheduleForClassroomNonPagedResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="init">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="initResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getCurrentWeekClassScheduleByTeacher">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCurrentWeekClassScheduleByTeacherResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getClassScheduleForTeacherNonPagedByWristbandId">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
      <xs:element minOccurs="0" name="arg4" type="xs:string"/>
      <xs:element minOccurs="0" name="arg5" type="xs:string"/>
      <xs:element minOccurs="0" name="arg6" type="xs:string"/>
      <xs:element minOccurs="0" name="arg7" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getClassScheduleForTeacherNonPagedByWristbandIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCurrentWeekClassScheduleByStudentWristbandId">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCurrentWeekClassScheduleByStudentWristbandIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCurrentWeekClassScheduleByClassroom">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCurrentWeekClassScheduleByClassroomResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getDataByView">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getDataByViewResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getClassSchedule">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
      <xs:element minOccurs="0" name="arg4" type="xs:string"/>
      <xs:element minOccurs="0" name="arg5" type="xs:string"/>
      <xs:element minOccurs="0" name="arg6" type="xs:string"/>
      <xs:element name="arg7" type="xs:int"/>
      <xs:element name="arg8" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getClassScheduleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCurrentTeamYearClassScheduleByClassroomNonPaged">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCurrentTeamYearClassScheduleByClassroomNonPagedResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getLessonInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getLessonInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getClassScheduleForTeacherNonPaged">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
      <xs:element minOccurs="0" name="arg4" type="xs:string"/>
      <xs:element minOccurs="0" name="arg5" type="xs:string"/>
      <xs:element minOccurs="0" name="arg6" type="xs:string"/>
      <xs:element minOccurs="0" name="arg7" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getClassScheduleForTeacherNonPagedResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getClassScheduleForStudentNonPaged">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
      <xs:element minOccurs="0" name="arg4" type="xs:string"/>
      <xs:element minOccurs="0" name="arg5" type="xs:string"/>
      <xs:element minOccurs="0" name="arg6" type="xs:string"/>
      <xs:element minOccurs="0" name="arg7" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getClassScheduleForStudentNonPagedResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getClassScheduleForTeacher">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
      <xs:element minOccurs="0" name="arg4" type="xs:string"/>
      <xs:element minOccurs="0" name="arg5" type="xs:string"/>
      <xs:element minOccurs="0" name="arg6" type="xs:string"/>
      <xs:element minOccurs="0" name="arg7" type="xs:string"/>
      <xs:element name="arg8" type="xs:int"/>
      <xs:element name="arg9" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getClassScheduleForTeacherResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCurrentTeamYearClassScheduleByClassroom">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element name="arg3" type="xs:int"/>
      <xs:element name="arg4" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCurrentTeamYearClassScheduleByClassroomResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getClassScheduleForStudentNonPagedByStudentWristbandIdResponse">
    <wsdl:part element="tns:getClassScheduleForStudentNonPagedByStudentWristbandIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLessonInfo">
    <wsdl:part element="tns:getLessonInfo" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getClassSchedule">
    <wsdl:part element="tns:getClassSchedule" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCurrentWeekClassScheduleByStudentWristbandId">
    <wsdl:part element="tns:getCurrentWeekClassScheduleByStudentWristbandId" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="initResponse">
    <wsdl:part element="tns:initResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCurrentWeekClassScheduleByStudentWristbandIdResponse">
    <wsdl:part element="tns:getCurrentWeekClassScheduleByStudentWristbandIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCurrentTeamYearClassScheduleByClassroom">
    <wsdl:part element="tns:getCurrentTeamYearClassScheduleByClassroom" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="init">
    <wsdl:part element="tns:init" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getClassScheduleForTeacherNonPaged">
    <wsdl:part element="tns:getClassScheduleForTeacherNonPaged" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getClassScheduleForStudentNonPagedByStudentWristbandId">
    <wsdl:part element="tns:getClassScheduleForStudentNonPagedByStudentWristbandId" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCurrentWeekClassScheduleByStudentResponse">
    <wsdl:part element="tns:getCurrentWeekClassScheduleByStudentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCurrentTeamYearClassScheduleByClassroomResponse">
    <wsdl:part element="tns:getCurrentTeamYearClassScheduleByClassroomResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getClassScheduleForStudent">
    <wsdl:part element="tns:getClassScheduleForStudent" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCurrentWeekClassScheduleByTeacher">
    <wsdl:part element="tns:getCurrentWeekClassScheduleByTeacher" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getClassScheduleResponse">
    <wsdl:part element="tns:getClassScheduleResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getClassScheduleForTeacherResponse">
    <wsdl:part element="tns:getClassScheduleForTeacherResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getClassScheduleForStudentNonPagedResponse">
    <wsdl:part element="tns:getClassScheduleForStudentNonPagedResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCurrentWeekClassScheduleByStudent">
    <wsdl:part element="tns:getCurrentWeekClassScheduleByStudent" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getClassScheduleForClassroomNonPaged">
    <wsdl:part element="tns:getClassScheduleForClassroomNonPaged" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getClassScheduleForClassroomNonPagedResponse">
    <wsdl:part element="tns:getClassScheduleForClassroomNonPagedResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCurrentWeekClassScheduleByTeacherWristbandId">
    <wsdl:part element="tns:getCurrentWeekClassScheduleByTeacherWristbandId" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getClassScheduleForTeacherNonPagedResponse">
    <wsdl:part element="tns:getClassScheduleForTeacherNonPagedResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getClassScheduleForTeacherNonPagedByWristbandId">
    <wsdl:part element="tns:getClassScheduleForTeacherNonPagedByWristbandId" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCurrentWeekClassScheduleByClassroomResponse">
    <wsdl:part element="tns:getCurrentWeekClassScheduleByClassroomResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCurrentWeekClassScheduleByTeacherResponse">
    <wsdl:part element="tns:getCurrentWeekClassScheduleByTeacherResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCurrentWeekClassScheduleByClassroom">
    <wsdl:part element="tns:getCurrentWeekClassScheduleByClassroom" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCurrentWeekClassScheduleByTeacherWristbandIdResponse">
    <wsdl:part element="tns:getCurrentWeekClassScheduleByTeacherWristbandIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getClassScheduleForTeacherNonPagedByWristbandIdResponse">
    <wsdl:part element="tns:getClassScheduleForTeacherNonPagedByWristbandIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCurrentTeamYearClassScheduleByClassroomNonPaged">
    <wsdl:part element="tns:getCurrentTeamYearClassScheduleByClassroomNonPaged" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getClassScheduleForStudentNonPaged">
    <wsdl:part element="tns:getClassScheduleForStudentNonPaged" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDataByView">
    <wsdl:part element="tns:getDataByView" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getClassScheduleForClassroomResponse">
    <wsdl:part element="tns:getClassScheduleForClassroomResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDataByViewResponse">
    <wsdl:part element="tns:getDataByViewResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCurrentTeamYearClassScheduleByClassroomNonPagedResponse">
    <wsdl:part element="tns:getCurrentTeamYearClassScheduleByClassroomNonPagedResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getClassScheduleForTeacher">
    <wsdl:part element="tns:getClassScheduleForTeacher" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getClassScheduleForClassroom">
    <wsdl:part element="tns:getClassScheduleForClassroom" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLessonInfoResponse">
    <wsdl:part element="tns:getLessonInfoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getClassScheduleForStudentResponse">
    <wsdl:part element="tns:getClassScheduleForStudentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="viewQueryDetail">
    <wsdl:operation name="getCurrentWeekClassScheduleByTeacherWristbandId">
      <wsdl:input message="tns:getCurrentWeekClassScheduleByTeacherWristbandId" name="getCurrentWeekClassScheduleByTeacherWristbandId">
    </wsdl:input>
      <wsdl:output message="tns:getCurrentWeekClassScheduleByTeacherWristbandIdResponse" name="getCurrentWeekClassScheduleByTeacherWristbandIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClassScheduleForStudent">
      <wsdl:input message="tns:getClassScheduleForStudent" name="getClassScheduleForStudent">
    </wsdl:input>
      <wsdl:output message="tns:getClassScheduleForStudentResponse" name="getClassScheduleForStudentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClassScheduleForStudentNonPagedByStudentWristbandId">
      <wsdl:input message="tns:getClassScheduleForStudentNonPagedByStudentWristbandId" name="getClassScheduleForStudentNonPagedByStudentWristbandId">
    </wsdl:input>
      <wsdl:output message="tns:getClassScheduleForStudentNonPagedByStudentWristbandIdResponse" name="getClassScheduleForStudentNonPagedByStudentWristbandIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCurrentWeekClassScheduleByStudent">
      <wsdl:input message="tns:getCurrentWeekClassScheduleByStudent" name="getCurrentWeekClassScheduleByStudent">
    </wsdl:input>
      <wsdl:output message="tns:getCurrentWeekClassScheduleByStudentResponse" name="getCurrentWeekClassScheduleByStudentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClassScheduleForClassroom">
      <wsdl:input message="tns:getClassScheduleForClassroom" name="getClassScheduleForClassroom">
    </wsdl:input>
      <wsdl:output message="tns:getClassScheduleForClassroomResponse" name="getClassScheduleForClassroomResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClassScheduleForClassroomNonPaged">
      <wsdl:input message="tns:getClassScheduleForClassroomNonPaged" name="getClassScheduleForClassroomNonPaged">
    </wsdl:input>
      <wsdl:output message="tns:getClassScheduleForClassroomNonPagedResponse" name="getClassScheduleForClassroomNonPagedResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="init">
      <wsdl:input message="tns:init" name="init">
    </wsdl:input>
      <wsdl:output message="tns:initResponse" name="initResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCurrentWeekClassScheduleByTeacher">
      <wsdl:input message="tns:getCurrentWeekClassScheduleByTeacher" name="getCurrentWeekClassScheduleByTeacher">
    </wsdl:input>
      <wsdl:output message="tns:getCurrentWeekClassScheduleByTeacherResponse" name="getCurrentWeekClassScheduleByTeacherResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClassScheduleForTeacherNonPagedByWristbandId">
      <wsdl:input message="tns:getClassScheduleForTeacherNonPagedByWristbandId" name="getClassScheduleForTeacherNonPagedByWristbandId">
    </wsdl:input>
      <wsdl:output message="tns:getClassScheduleForTeacherNonPagedByWristbandIdResponse" name="getClassScheduleForTeacherNonPagedByWristbandIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCurrentWeekClassScheduleByStudentWristbandId">
      <wsdl:input message="tns:getCurrentWeekClassScheduleByStudentWristbandId" name="getCurrentWeekClassScheduleByStudentWristbandId">
    </wsdl:input>
      <wsdl:output message="tns:getCurrentWeekClassScheduleByStudentWristbandIdResponse" name="getCurrentWeekClassScheduleByStudentWristbandIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCurrentWeekClassScheduleByClassroom">
      <wsdl:input message="tns:getCurrentWeekClassScheduleByClassroom" name="getCurrentWeekClassScheduleByClassroom">
    </wsdl:input>
      <wsdl:output message="tns:getCurrentWeekClassScheduleByClassroomResponse" name="getCurrentWeekClassScheduleByClassroomResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDataByView">
      <wsdl:input message="tns:getDataByView" name="getDataByView">
    </wsdl:input>
      <wsdl:output message="tns:getDataByViewResponse" name="getDataByViewResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClassSchedule">
      <wsdl:input message="tns:getClassSchedule" name="getClassSchedule">
    </wsdl:input>
      <wsdl:output message="tns:getClassScheduleResponse" name="getClassScheduleResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCurrentTeamYearClassScheduleByClassroomNonPaged">
      <wsdl:input message="tns:getCurrentTeamYearClassScheduleByClassroomNonPaged" name="getCurrentTeamYearClassScheduleByClassroomNonPaged">
    </wsdl:input>
      <wsdl:output message="tns:getCurrentTeamYearClassScheduleByClassroomNonPagedResponse" name="getCurrentTeamYearClassScheduleByClassroomNonPagedResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLessonInfo">
      <wsdl:input message="tns:getLessonInfo" name="getLessonInfo">
    </wsdl:input>
      <wsdl:output message="tns:getLessonInfoResponse" name="getLessonInfoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClassScheduleForTeacherNonPaged">
      <wsdl:input message="tns:getClassScheduleForTeacherNonPaged" name="getClassScheduleForTeacherNonPaged">
    </wsdl:input>
      <wsdl:output message="tns:getClassScheduleForTeacherNonPagedResponse" name="getClassScheduleForTeacherNonPagedResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClassScheduleForStudentNonPaged">
      <wsdl:input message="tns:getClassScheduleForStudentNonPaged" name="getClassScheduleForStudentNonPaged">
    </wsdl:input>
      <wsdl:output message="tns:getClassScheduleForStudentNonPagedResponse" name="getClassScheduleForStudentNonPagedResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClassScheduleForTeacher">
      <wsdl:input message="tns:getClassScheduleForTeacher" name="getClassScheduleForTeacher">
    </wsdl:input>
      <wsdl:output message="tns:getClassScheduleForTeacherResponse" name="getClassScheduleForTeacherResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCurrentTeamYearClassScheduleByClassroom">
      <wsdl:input message="tns:getCurrentTeamYearClassScheduleByClassroom" name="getCurrentTeamYearClassScheduleByClassroom">
    </wsdl:input>
      <wsdl:output message="tns:getCurrentTeamYearClassScheduleByClassroomResponse" name="getCurrentTeamYearClassScheduleByClassroomResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="viewQueryDetailWSSoapBinding" type="tns:viewQueryDetail">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCurrentWeekClassScheduleByTeacherWristbandId">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCurrentWeekClassScheduleByTeacherWristbandId">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCurrentWeekClassScheduleByTeacherWristbandIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClassScheduleForStudent">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getClassScheduleForStudent">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getClassScheduleForStudentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClassScheduleForStudentNonPagedByStudentWristbandId">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getClassScheduleForStudentNonPagedByStudentWristbandId">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getClassScheduleForStudentNonPagedByStudentWristbandIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClassScheduleForClassroom">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getClassScheduleForClassroom">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getClassScheduleForClassroomResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCurrentWeekClassScheduleByStudent">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCurrentWeekClassScheduleByStudent">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCurrentWeekClassScheduleByStudentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClassScheduleForClassroomNonPaged">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getClassScheduleForClassroomNonPaged">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getClassScheduleForClassroomNonPagedResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="init">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="init">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="initResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCurrentWeekClassScheduleByTeacher">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCurrentWeekClassScheduleByTeacher">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCurrentWeekClassScheduleByTeacherResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClassScheduleForTeacherNonPagedByWristbandId">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getClassScheduleForTeacherNonPagedByWristbandId">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getClassScheduleForTeacherNonPagedByWristbandIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCurrentWeekClassScheduleByStudentWristbandId">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCurrentWeekClassScheduleByStudentWristbandId">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCurrentWeekClassScheduleByStudentWristbandIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCurrentWeekClassScheduleByClassroom">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCurrentWeekClassScheduleByClassroom">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCurrentWeekClassScheduleByClassroomResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClassSchedule">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getClassSchedule">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getClassScheduleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDataByView">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getDataByView">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDataByViewResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCurrentTeamYearClassScheduleByClassroomNonPaged">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCurrentTeamYearClassScheduleByClassroomNonPaged">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCurrentTeamYearClassScheduleByClassroomNonPagedResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLessonInfo">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getLessonInfo">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getLessonInfoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClassScheduleForTeacherNonPaged">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getClassScheduleForTeacherNonPaged">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getClassScheduleForTeacherNonPagedResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClassScheduleForStudentNonPaged">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getClassScheduleForStudentNonPaged">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getClassScheduleForStudentNonPagedResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClassScheduleForTeacher">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getClassScheduleForTeacher">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getClassScheduleForTeacherResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCurrentTeamYearClassScheduleByClassroom">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCurrentTeamYearClassScheduleByClassroom">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCurrentTeamYearClassScheduleByClassroomResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="viewQueryDetailWS">
    <wsdl:port binding="tns:viewQueryDetailWSSoapBinding" name="viewQueryDetailPort">
      <soap:address location="http://192.168.0.212:81/big-data/viewQueryDetailWS?wsdl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>